# Week 1
___
The purpose of this notebook is to review some basic topics in Python and it covers the following topics:$$

* Basic Data types
    * Numbers
        * int
        * float
        * bool
    * Strings
    * Booleans
    * Printing
* Container
    * Lists
        * Slicing
        * Iterating a List
        * List comprehensions
    * Dictionaries
    * Tuples
    * Sets
* Comparison Operators
* if, elif, else Statements
* Loops
    * for Loops
    * while Loops
    * range()
* functions
* lambda expressions
* map and filter
* methods
___

## Basic Data Types

#### Numeber:
- int (not short, int ,long)
- float (not float, double)
- bool (in Python, bool is included in Number type)

``int``

use type() function to show the data type

In [1]:
my_int = 6
type(my_int) #$$

int

In [2]:
print('value: {}, type: {}'.format(my_int, type(my_int))) # we will explain print function later $$

value: 6, type: <class 'int'>

note that: ``<class 'int'>``: everything in Python is an object

``float``

In [2]:
my_float = 6.6
print('value: {}, type: {}'.format(my_int, type(my_float)))

value: 6.6, type: <class 'float'>

In [3]:
my_float = 6.666666666666666666
print('value: {}, type: {}'.format(my_int, type(my_float)))

value: 6.666666666666667, type: <class 'float'>

In [4]:
my_float = 1 + 0.1
print('value: {}, type: {}'.format(my_int, type(my_float)))

value: 1.1, type: <class 'float'>

In [5]:
my_float = 1 + 1.0
print('value: {}, type: {}'.format(my_int, type(my_float)))

value: 2.0, type: <class 'float'>

In [6]:
my_float = 1.5 * 2
print('value: {}, type: {}'.format(my_int, type(my_float)))

value: 3.0, type: <class 'float'>

In [8]:
my_float = 2 / 2
print('value: {}, type: {}'.format(my_int, type(my_float)))

value: 1.0, type: <class 'float'>

In [9]:
my_int = 2 // 2
print('value: {}, type: {}'.format(my_int, type(my_int)))

value: 1, type: <class 'int'>

``Boolean``
- Python implements all of the usual operators for Boolean logic, but uses ``English words`` (True or False $) rather than symbols (`&&`, `||`, etc.)
- ``bool()`` function can transfer non-zero, non-empty values (including number, string, list, etc.) to True; And transfer zero, empty values (e.g. 0, 0.0, '', {}) to False.

In [23]:
my_bool = True
print('value: {}, type: {}'.format(my_bool, type(my_bool)))

value: True, type: <class 'bool'>

In [25]:
t, f = True, False
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;

False
True
False

In [32]:
print( bool(1) )
print( bool(2.0) )
print( bool('abc') )
print( bool([1,2,3]))

True
True
True
True

In [33]:
print( bool(0) )
print( bool(0.0) )
print( bool('') )
print( bool([]))

False
False
False
False

#### Strings
- can use ``''``, ``""``, ``''''''`` pairs to represent string

In [3]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter.
print(hello, len(hello))

hello 5

In [5]:
hw = hello + ' ' + world  # String concatenation
print (hw)  # prints "hello world"

hello world

String objects have a bunch of useful methods; for example:

In [39]:
s = "hello"
print (s.capitalize())  # Capitalize a string; prints "Hello"
print (s.upper())       # Convert a string to uppercase; prints "HELLO"
print (s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
                                 # prints "he(ell)(ell)o"
print ('  world '.strip())  # Strip leading and trailing whitespace; prints "world"
print (s.startswith('h'), s.endswith('lo'))   # True, True

Hello
HELLO
he(ell)(ell)o
world
True True

#### Printing

#### Some useful ways to do string formatting

In [8]:
# (1) % operator
alpha = 0.3
classifier = 'svm'
seed = 100

"%s %s %s" % (alpha, classifier, seed)

'0.3 svm 100'

In [12]:
#another example:
"%f %s %i" % (alpha, classifier, seed)  #(f: float, s: string, i: int)  $$

'0.300000 svm 100'

In [40]:
# (2) .format()
print( "{}, {}, {}".format(alpha, classifier, seed) )
print( "{1}, {2}, {0}".format(alpha, classifier, seed) )
print( "alpha = {:.3f}".format(alpha) )

print("alpha={alpha}, classifier={classifier}, seed={seed}".format(
    alpha=alpha, classifier=classifier, seed=seed))

0.3, svm, 100
svm, 100, 0.3
alpha = 0.300
alpha=0.3, classifier=svm, seed=100

### Please add few cells and explain F-string method for printing as well , for instance: $$$

In [15]:
#fstring (python3) $$$
name = 'Fred'
age = 42
f'He said his name is {name} and he is {age} years old.'

'He said his name is Fred and he is 42 years old.'

In [16]:
#some examples

## Containers
- list
- tuple
- dictionary
- set

#### Lists
A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [45]:
myList = [3, 1, 2]   # Create a list
print (myList)
print(myList[2])
print (myList[-1])   # Negative indices count from the end of the list; prints "2"

[3, 1, 2]
2
2

In [48]:
myList[2] = 'foo'    # Lists can contain elements of different types
print(myList)

[3, 1, 'foo']

In [49]:
myList.append('bar') # Add a new element to the end of the list
print(myList)

[3, 1, 'foo', 'bar']

In [50]:
x = myList.pop()     # Remove and return the last element of the list
print (x, myList)

bar [3, 1, 'foo']

In [51]:
len(myList)          # Get length

3

#### Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [52]:
# range is a built-in function that creates a `generator` of integers (Python 3). In python 2, was returning a list.
nums = [0, 1, 2, 3, 4]

print ("(1)", nums)         # Prints "[0, 1, 2, 3, 4]"
print ("(2)",  nums[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print ("(3)", nums[2:])     # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print ("(4)", nums[:2])     # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print ("(5)", nums[:])      # Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print ("(6)", nums[:-1])    # Slice indices can be negative; prints ["0, 1, 2, 3]"

nums[2:4] = [8, 9] # Assign a new sublist to a slice
print ("(7)", nums)         # Prints "[0, 1, 8, 9, 4]"
print ("(8)", nums[::-1])   # Reverts a list

(1) [0, 1, 2, 3, 4]
(2) [2, 3]
(3) [2, 3, 4]
(4) [0, 1]
(5) [0, 1, 2, 3, 4]
(6) [0, 1, 2, 3]
(7) [0, 1, 8, 9, 4]
(8) [4, 9, 8, 1, 0]

### <font color='red'>Exercise!</font>
Use slicing method to get all the elements with odd index

In [140]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [144]:
# Please write your code here

#### Iterating a List

You can loop over the elements of a list like this:

In [53]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print (animal)

cat
dog
monkey

You can also loop over the elements of a list by index

In [97]:
animals = ['cat', 'dog', 'monkey']
for i in range(0, len(animals)):
    print (animals[i])

cat
dog
monkey

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [17]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print ('index: %d, element: %s' % (idx , animal)) #$

index: 0, element: cat
index: 1, element: dog
index: 2, element: monkey

`zip()` makes an iterator that aggregates elements from each of the iterables.

In [56]:
x = [1, 2, 3, 4]
y = [5, 6, 7, 8]
z = [9, 10, 11, 12]

for i, j, k in zip(x, y, z):
    print(i, j, k)

1 5 9
2 6 10
3 7 11
4 8 12

#### List comprehensions:

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [76]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print (squares)

[0, 1, 4, 9, 16]

You can make this code simpler using a list comprehension:

In [77]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print (squares)

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [60]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print (even_squares)

[0, 4, 16]

### <font color='red'>Exercise!</font>
Write a list comprehension that enumerates the sequence $n^2 + n + 1$ for n = 1, 2, 3, ..., 10

In [132]:
# Please write your code here

#### Tuples

- A tuple is an (immutable) ordered list of values. 
- In simple words, an immutable object can’t be changed after it is created.
- one of the most important differences: list is mutable, tuple is immutable

In [80]:
d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)       # Create a tuple
print (type(t))
print (d[t]) 
print (d[(1, 2)])

<class 'tuple'>
5
1

In [83]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [84]:
a=[1,2,3]

In [85]:
b=a
a = [2,3]
b

[1, 2, 3]

In [86]:
a=1
b=[a]
b

[1]

In [87]:
a=2
b

[1]

In [88]:
values = [0, 1, 2]
values[1] = values
values

[0, [...], 2]

#### Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following:

In [119]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [120]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [121]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))       

animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

Loops: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [122]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))
# Prints "#1: fish", "#2: dog", "#3: cat"

#1: cat
#2: fish
#3: dog

In [123]:
from math import sqrt
{int(sqrt(x)) for x in range(30)}

{0, 1, 2, 3, 4, 5}

In [124]:
{int(sqrt(x)): x for x in range(30)}

{0: 0, 1: 3, 2: 8, 3: 15, 4: 24, 5: 29}

## Comparison Operators

In [89]:
1 > 2

False

## Logic Operators

In [90]:
(1 > 2) and (2 < 3)

False

In [91]:
(1 > 2) or (2 < 3)

True

In [92]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [94]:
score = 96
if score > 90:
    print('you get A in this course!')

you get A in this course!

In [98]:
score = 96
if score < 60:
    print('sorry, you fail in this course~~~')
else:
    print('congradulation, you pass the course!')

congradulation, you pass the course!

In [99]:
score = 96
if score < 60:
    print('sorry, you fail in this course~~~')
elif score > 95:
    print("you get A+ in this course!")
else:
    print('congradulation, you pass the course!')

you get A+ in this course!

## Loop

#### for loop

In [101]:
seq = [1,2,3,4,5]

for num in seq:
    print(num)

1
2
3
4
5

#### while loop

In [102]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

#### range()

In [104]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

## functions

Python functions are defined using the `def` keyword. For example:

In [106]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [107]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

# call the function sign()
for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [108]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s' % name.upper())
    else:
        print('Hello, %s!' % name)

hello('Bob')
hello('Fred', loud=True)

Hello, Bob!
HELLO, FRED

## Lambda expressions

In [113]:
def times2(var):
    return var*2

times2(2)

4

In [114]:
times2 = lambda x: x*2

times2(2)

4

### <font color='red'>Exercise!</font>
Define a lambda expression sums2 to compute the sum of two input values

In [130]:
# please write your code here

### Classes
The syntax for defining classes in Python is straightforward:

In [117]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
            print('HELLO, %s!' % self.name.upper())
        else:
            print('Hello, %s' % self.name)

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred
HELLO, FRED!

### <font color='red'>Exercise!</font>
Define a class to represent the student in quant program.
<br>The class has two attributes: name and major, and two methods: learn_stochastic_calculus, learn_machine_learning</br>

In [145]:
class QuantStudent:
    
    def __init__(self, name, major):
        self.name = name
        self.major = major
        
    def learn_stochastic_calculus(self):
        print("learning MATH 506: Stochastic Analysis")
    
    def learn_machine_learning(self):
        print("learning machine learning")